<phpunit bootstrap="./vendor/autoload.php">
    <testsuites>
        <testsuite name="BlogApplication">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>src/Framework</directory>
        </whitelist>
    </filter>
</phpunit>