<li class="nav-item">
    <a href="{{ path('admin.post.posts') }}" class="nav-link dropdown-toggle {{ is_path('admin.post.posts') }}">
        <i class="fa big-icon fa-file-text"></i> <span class="mini-dn">Articles</span>
    </a>
</li>
<li class="nav-item">
    <a href="{{ path('admin.post.category.posts') }}" class="nav-link dropdown-toggle {{ is_path('admin.post.category.posts') }}">
        <i class="fa big-icon fa-industry"></i> <span class="mini-dn">Activités</span>
    </a>
</li>