<div class="income-dashone-total shadow-reset nt-mg-b-30">
    <div class="income-title">
        <div class="main-income-head">
            <h2>Articles</h2>
            <div class="main-income-phara order-cl">
                <p><a href="{{ path('admin.post.posts') }}" style="color: #fff">Gérer les articles</a></p>
            </div>
        </div>
    </div>
    <div class="income-dashone-pro">
        <div class="income-rate-total">
            <div class="price-adminpro-rate">
                <h3><span class="counter">{{ count }}</span></h3>
            </div>
            <div class="price-graph">
                <span id="sparkline6"></span>
            </div>
        </div>
        <div class="income-range order-cl">
            <p>article{%  if (count > 1) %}s{% endif %}</p>
        </div>
        <div class="clear"></div>
    </div>
</div>