{% extends '@account/layout.twig' %}

{% block body %}

    <div class="row">
        <div class="col-lg-12">
            <div class="page-wrapper">
                <div class="py5">
                    <div class="h2 center">Bienvenure sur ton profile {{ current_user().first_name }} !</div>
                    <p class="text-muted text-center mt-1 mb-2">
                        Cette page affichera l'ensemble de tes paniers non acheter<br>
                        Pour le moment tu n'as rempli aucun panier :(
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}