<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title 'Connection' %} | L'atélier Brazzaville</title>
    <link rel="stylesheet" href="../../webroot/css/bootstrap.min.css">
    <!-- notifications CSS
		============================================ -->
    <link rel="stylesheet" href="../../webroot/css/Lobibox.min.css">
    <link rel="stylesheet" href="../../webroot/css/notifications.css">
    <link rel="stylesheet" href="../../asset/style.css">
</head>
<body>
<section>
    {% block body %}{% endblock %}
</section>

{% if flash('success') %}
    <div data-msg="{{ flash('success') }}" data-type="success" id="session"></div>
{% endif %}
{% if flash('error') %}
    <div data-msg="{{ flash('error') }}" data-type="error" id="session"></div>
{% endif %}

<!-- jquery
    ============================================ -->
<script src="../../webroot/js/jquery-1.11.3.min.js"></script>
<!-- bootstrap JS
    ============================================ -->
<script src="../../webroot/js/bootstrap.min.js"></script>
<!-- meanmenu JS
    ============================================ -->
<script src="../../webroot/js/jquery.meanmenu.js"></script>
<!-- mCustomScrollbar JS
    ============================================ -->
<script src="../../webroot/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="../../webroot/js/jquery.sticky.js"></script>
<!-- notification JS
		============================================ -->
<script src="../../webroot/js/Lobibox.js"></script>
<script src="../../webroot/js/notification-active.js"></script>
<script src="../../webroot/js/main.js"></script>
</body>
</html>