{% extends '@auth/layout.twig' %}

{% block body %}
    <div class="imgBx">
        <img src="../../style/images/bg.png" alt="">
    </div>
    <div class="contentBx">
        <div class="formBx">
            <h2>Connectez-vous</h2>
            <form action="{{ path('auth.login') }}" method="post">
                <div class="inputBx">
                    <label for="username">Pseudo ou email</label>
                    <input type="text" name="username" id="username">
                </div>
                <div class="inputBx">
                    <label for="password">Mot de passe</label>
                    <input type="password" name="password" id="password">
                </div>
                <div class="remember">
                    <label><input type="checkbox" name="remember_me"> Se rappeler de moi</label>
                </div>
                <div class="inputBx">
                    <input type="submit" value="Se connecter">
                </div>
                <div class="inputBx">
                    <p>Vous n'avez pas encore de compte ? <a href="{{ path('account.signup') }}">Créer un compte</a> </p>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
