<li class="nav-item">
    <a href="{{ path('admin.shop.product.posts') }}" class="nav-link dropdown-toggle {{ is_path('admin.shop.product.posts') }}">
        <i class="fa big-icon fa-shopping-bag"></i> <span class="mini-dn">Produits</span>
    </a>
</li>