
<div class="income-dashone-total shadow-reset nt-mg-b-30">
    <div class="income-title">
        <div class="main-income-head">
            <h2>Produits</h2>
            <div class="main-income-phara visitor-cl">
                <p><a href="{{ path('admin.shop.product.posts') }}" style="color: #fff">Gérer les produits</a></p>
            </div>
        </div>
    </div>
    <div class="income-dashone-pro">
        <div class="income-rate-total">
            <div class="price-adminpro-rate">
                <h3><span class="counter">{{ count }}</span></h3>
            </div>
            <div class="price-graph">
                <span id="sparkline2"></span>
            </div>
        </div>
        <div class="income-range visitor-cl">
            <p>produits à vendre</p>
        </div>
        <div class="clear"></div>
    </div>
</div>