
<div class="income-dashone-total shadow-reset nt-mg-b-30 res-mg-t-30">
    <div class="income-title">
        <div class="main-income-head">
            <h2>Revenu du mois</h2>
            <div class="main-income-phara">
                <p><a href="#" style="color: #fff">Voir vos revenus</a></p>
            </div>
        </div>
    </div>
    <div class="income-dashone-pro">
        <div class="income-rate-total">
            <div class="price-adminpro-rate">
                <h3><span class="counter">{{ income }}</span> <span>€</span></h3>
            </div>
            <div class="price-graph">
                <span id="sparkline1"></span>
            </div>
        </div>
        <div class="income-range">
            <p>Total revenu du moi de <span id="month"></span></p>
            <script>
                const months = [
                    'Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Aout', 'Septembre', 'Octobre', 'Novembre', 'December'
                ]
                document.getElementById('month').textContent = months[(new Date()).getMonth()].toLowerCase();
            </script>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="income-dashone-total shadow-reset nt-mg-b-30">
    <div class="income-title">
        <div class="main-income-head">
            <h2>Produits</h2>
            <div class="main-income-phara visitor-cl">
                <p><a href="{{ path('admin.shop.product.posts') }}" style="color: #fff">Gérer les produits</a></p>
            </div>
        </div>
    </div>
    <div class="income-dashone-pro">
        <div class="income-rate-total">
            <div class="price-adminpro-rate">
                <h3><span class="counter">{{ count }}</span></h3>
            </div>
            <div class="price-graph">
                <span id="sparkline2"></span>
            </div>
        </div>
        <div class="income-range visitor-cl">
            <p>produits à vendre</p>
        </div>
        <div class="clear"></div>
    </div>
</div>